/META.*
/MYMETA.*
/Makefile
/Makefile.old
/MANIFEST
/MANIFEST.bak
/blib/
/pm_to_blib
/.build
cover_db
nytprof*
/inc/
/README
/MANIFEST.SKIP
/Distar
/Task-BeLike-HAARG-*.tar.gz
/Task-BeLike-HAARG-*/
/my_modules
